body {
    background-color: #e6e3da;
    font-family: "Lexend Deca", sans-serif;
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
}

h1 {
    font-family: "Limelight", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.container section {
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
}

h2 {
    font-family: "Limelight", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.navbar ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: fit-content;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-family: "Lexend Deca", sans-serif;
}


.navbar-nav .nav-link.active {
    background-color: #6c757d;
    color: white !important;
    border-radius: 4px;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.row {
    padding: 20px;
} 

.cowNames {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: "Lexend Deca", sans-serif;
}

.kortti-body {
    font-family: "Lexend Deca", sans-serif;
}

.accordion {
    font-family: "Lexend Deca", sans-serif;
    margin: 0 auto;
    max-width: 70%;
    padding: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}